.rt-timer {
  width: 360px;
}

.rt__back {
  fill:transparent;
  stroke-width: 5px;
  stroke: #313144;
  stroke-dasharray: 252px; /* подбирается опытным путем */
}

.rt__front {
  fill:transparent;
  stroke-width: 5px;
  stroke: #fff;
  stroke-dasharray: 252px;
}

.rt__day {
  stroke-dashoffset: 252px;  /* расчетная величина */
}

.rt__hour {
  stroke-dashoffset: 252px;  /* расчетная величина */
}

.rt__min {
  stroke-dashoffset: 252px; /* расчетная величина */
}

.rt__sec {
  stroke-dashoffset: 252px; /* расчетная величина */
}

.rt__circle text {
  fill: #313144;
}

.rt__sign {
  font-size: 26px;
  font-family: "OpenSansSemiBold";
}

.rt__desq {
  font-size: 14px;
  font-family: "Open Sans";
}

  
  